/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1C1E21; /* Oscuro, acorde al fondo cósmico */
    color: #FFF;
    
}
/* Estilos generales para el fondo */
.hero-section {
    height: 100vh;
    background-size: cover;
    background-color: transparent; /* Asegúrate de que el fondo sea transparente */
    display: flex; /* Flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    position: relative;
    z-index: 1;  /* Fondo tiene z-index más bajo */
    overflow: hidden;
}


.hero-content {
    text-align: center; /* Centrado del texto dentro del contenedor */
    z-index: 5;  /* Asegura que el contenido esté visible por encima de las líneas */
    position: relative; /* Mantiene el control sobre la posición */
    color: white; /* Asegura que el texto sea visible sobre el fondo oscuro */
}

.hero-section h1 {
    font-size: 2.5rem;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    padding: 8px 16px; /* Hacemos los botones un poco más pequeños */
    font-size: 0.9rem; /* Ajustamos el tamaño del texto en los botones */
    margin: 10px;
}

/* Estilos de la Barra de Navegación */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.001) !important;
    backdrop-filter: blur(10px) !important;
    padding: 10px 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
.navbar.scrolled {
    background-color: #1C1E21; /* Fondo sólido al hacer scroll */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-link {
    font-weight: 500;
    color: #FFF !important;
}

.nav-link:hover {
    color: #3498DB; /* Azul celeste */
}
/* Cambiar el botón de hamburguesa */
.navbar-toggler {
  border-color: white; /* Borde blanco para el botón */
}

.navbar-toggler-icon {
  background-color: white; /* Fondo blanco para el botón de hamburguesa */
}

.navbar-collapse .nav-link {
  color: black; /* Enlaces negros dentro del menú desplegable */
}

.navbar-collapse .nav-link:hover {
  color: #ff5050; /* Personaliza el color cuando el enlace esté en hover */
}

/* Secciones */
section {
    padding: 60px 0;
}

.about-section {
  padding: 60px 0;
  background-color: rgba(28, 30, 33, 0.8);
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Mantener la columna de los elementos */
  min-height: 100vh; /* Aseguramos que ocupe toda la altura de la pantalla */
}

.about-section .container {
text-align: center;
}
.about-section p {
  margin: 0 auto; /* Centramos el párrafo horizontalmente */
  text-align: left;
  position: relative;
  max-width: 50%; /* Aseguramos que el párrafo no ocupe todo el ancho */
  padding: 0 1em; /* Agregamos un poco de padding para separarlo de los bordes */
}
.projects-section .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Añade un espacio entre las tarjetas */
  }

  /* Tarjetas de proyectos*/
  /* Estilos Generales para la tarjeta */
  .col-md-6 {
    flex: 1 1 30%; /* Haz que cada tarjeta ocupe aproximadamente un 30% del contenedor */
    max-width: 300px; /* Controla el tamaño máximo para las tarjetas */
    box-sizing: border-box;
  }
  .book {
  position: relative;
  border-radius: 10px;
  width: 240px;
  height: 320px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: all 0.5s ease;
  margin: 20px auto;
  margin-bottom: 20px; /* Espacio entre las filas de tarjetas */
}
.book img {
  width: 60%; /* Ajusta el tamaño de la imagen a tu gusto */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Hace que la imagen mantenga su tamaño y aspecto dentro del contenedor */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
/* Al hacer hover se produce la animación 3D */
.book:hover {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
}
.book:hover .cover {
  transform: rotateY(-80deg);
  transition: transform 0.7s ease-in-out;
}
/* Estilos para la portada (front face) */
.cover {
  position: absolute;
  top: 0;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  transform-origin: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.cover img {
  width: 60%; /* Ajusta el tamaño de la imagen a tu gusto */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Hace que la imagen mantenga su tamaño y aspecto dentro del contenedor */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
/* Tipografía del contenido */
p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
  /* Botones */
  .btn-primary {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #2980B9;
  }
  

.contact-section {
    background-color: rgba(106, 27, 154, 0.8); /* Morado translúcido */
}

footer {
    background-color: #1C1E21; /* Oscuro */
    color: #FFF;
    padding: 20px 0;
}

/* Animaciones para la barra de navegación al hacer scroll */
.navbar.scrolled {
    background-color: #1C1E21 !important;
    transition: background-color 0.3s ease;
}

/* Estilos para "Mi Portafolio" con efecto de estrella */
.navbar-brand {
    font-size: 1.5rem;
    color: rgb(248, 243, 243) !important; /* Color blanco permanente */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
    animation: starTwinkle 2s infinite ease-in-out; /* Efecto de destello */
    transition: color 0.3s ease; /* Transición suave del color */
}

/* Animación para simular el destello */
@keyframes starTwinkle {
    0%, 100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.7);
    }
}

/* Estilos preloader */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2.5s ease-in-out; /* Transición más suave */
}

/* Ocultar el preloader */
#preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s ease-in-out;
}

/* Inicialmente ocultamos el contenido principal */
#main-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s ease-in-out; /* Suavidad en la aparición del contenido */
}

/* Mostrar el contenido después de que el preloader desaparezca */
#main-content.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 2.5s ease-in-out; /* Suave transición */
}
/* Ajuste para reducir el tamaño del preloader */
svg {
    width: 5em; /* Cambia este valor para ajustar el tamaño */
}

/* Aro de luz con fondo blanco similar al proyecto v3

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(800px) rotateX(0deg) scaleX(1); /* Inicialmente un círculo 2D */
 /* border-radius: 50%;
  height: 35vw;
  width: 35vw;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
          10px 10px 10px rgba(0, 0, 0, 0.4),
          inset -5px -5px 5px rgba(255, 255, 255, 0.2),
          inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease; /* Transición suave */
 /* background-color: #ffffff;
  background-image: linear-gradient(#ebe9ec, #e5e7e9, #e5e7e7);
}

.loader span {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  background-image: linear-gradient(#ffffff, #d3d0d3, #eee8e8);
  animation: rotate_3922 6s linear infinite;
}

.loader span:nth-of-type(1) {
  filter: blur(5px);
}

.loader span:nth-of-type(2) {
  filter: blur(10px);

}
.loader span:nth-of-type(3) {
  filter: blur(20px);
}

.loader span:nth-of-type(4) {
  filter: blur(40px);
}
.loader span:nth-of-type(5) {
  filter: blur(60px);
}

.loader span:nth-of-type(6) {
  filter: blur(50px);
}

 .loader:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background: #000000;
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: inset -2px -2px 5px rgba(245, 244, 244, 0.2),
      inset 3px 3px 5px rgba(235, 234, 234, 0.5);
  }

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
*/
/* Ajustes Responsivos */
@media (max-width: 600px) {
  /* Ajustar el tamaño del aro de luz */
  .loader {
      width: 92vw;
      height: 92vw;
  }
  .loader span {
    filter: blur(20px)
    }
  /* Ajustar tamaño del texto */
  .hero-content h1 {
      font-size: 1.3rem;
  }

  .hero-content p {
      font-size: 0.6rem;
  }

  .hero-buttons .btn {
      padding: 8px 16px;
      font-size: 0.7rem;
  }

  .book {
    width: 180px;
    height: 250px;
  }

p {
    font-size: 16px;
}

.about-section p {
  position: static; /* Eliminamos cualquier posicionamiento relativo */
  margin: 0 auto;
  padding: 0 1em;
  text-align: justify; /* Alineamos el texto para una mejor legibilidad */
  max-width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
}
}

.input__container {
  padding: 10px;
  gap: 20px;
  max-width: 100%;
  box-shadow: none;
}

.input__container::before {
  font-size: 12px; /* Hacemos el recuadro un poco más pequeño en móviles */
  padding: 3px 6px;
  top: -40px; /* Ajustamos la distancia en móviles */
  left: 50%;
  transform: translateX(-50%);
}

.input__search {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
}

.input__button__shadow img {
  width: 50px;
  height: 50px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Ajuste de la sección hero */
  .loader {
      width: 60vw;
      height: 60vw;
  }

  .hero-content h1 {
      font-size: 2.5rem;
  }

  .hero-content p {
      font-size: 1.25rem;
  }

/* Pantallas grandes: ordenadores */
@media (min-width: 1025px) {
  .loader {
      width: 60vw;  /* Tamaño del aro para pantallas grandes */
      height: 60vw;
  }
  .hero-section {
      height: 100vh;  /* Altura completa en pantallas grandes */
  }
}
}
/* CSS DE "OTROS PROYECTOS"
.card {
  width: 190px;
  height: 254px;
  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

#c1 {
  background-color: black;
}

#c2 {
  background-color: blue;
}

#c3 {
  background-color: red;
}

#c4 {
  background-color: green;
}

.main:hover #c1 {
  transform: translateX(-100px) rotate(-40deg);
}

.main:hover #c2 {
  transform: translateX(-50px) rotate(-30deg);
}

.main:hover #c3 {
  transform: translateX(0) rotate(-20deg);
}

.main:hover #c4 {
  transform: translateX(50px) rotate(-10deg);
}

#c1:hover {
  transform: translateX(-150px) rotate(0deg) !important;
}

#c2:hover {
  transform: translateX(-100px) rotate(0deg) !important;
}

#c3:hover {
  transform: translateX(-50px) rotate(0deg) !important;
}

#c4:hover {
  transform: translateX(50px) rotate(0deg) !important;
}

.main {
  display: grid;
  height: 50vmax;
  place-items: center;
} */

/* LOGOTIPO CONEJITO EN SOBRE MI */ 

.input__container {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 4px solid #000;
  max-width: 650px;
  margin: 0 auto; /* Centramos el contenedor horizontalmente */
  box-shadow: 10px 10px 0 #000;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  flex-direction: column; /* Alineamos los elementos en columna para móviles */
}

.input__container:hover {
  transform: rotateX(5deg) rotateY(1 deg) scale(1.05);
  box-shadow: 25px 25px 0 -5px #d894f3, 25px 25px 0 0 #000;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateZ(-50px);
  background: linear-gradient(
    45deg,
    rgba(255, 107, 107, 0.4) 0%,
    rgba(255, 107, 107, 0.1) 100%
  );
  filter: blur(20px);
}

.input__button__shadow {
  cursor: pointer;
  border: 3px solid #000;
  background: #d894f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input__button__shadow:hover {
  background: #d894f3;
  transform: translateZ(10px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__button__shadow svg {
  fill: #000000;
  width: 25px;
  height: 25px;
}

.input__search {
  width: 100%;
  border: 3px solid #000;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  color: #000;
}

.input__search::placeholder {
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

.input__search:hover,
.input__search:focus {
  background: #f0f0f0;
  transform: translateZ(20px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__container::before {
  content: "USERNAME";
  position: absolute;
  top: -20px; /* Movemos el cuadro por encima del contenedor principal */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Ajustamos el centro en el eje X */
  background: #d894f3;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  border: 2px solid #000;
  z-index: 10; /* Nos aseguramos que esté por encima de otros elementos */
}

.input__button__shadow img {
  width: 8rem; /* Ajusta el tamaño de la imagen */
  height: 8rem; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Hace que la imagen mantenga su tamaño y aspecto dentro del contenedor */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/***** MODO CLARO U OSCURO *****/

#checkbox {
  display: none;
}

.switch {
  position:absolute;
  left: 1%;
  width: 40px;
  height: 40px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}


/* TERMINAL UBUNTU */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.cont {
  width: 650px;
  height: 180px;
  margin: 50px auto; /* Centrar el terminal horizontalmente */
  max-width: 100%;
}

.cont, .terminal_body, .terminal_toolbar, .terminal_promt, .user {
  font-family: 'Ubuntu Mono', monospace;
}
.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.butt {
  display: flex;
  align-items: center;
}

.cont .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.cont .btn-color {
  background: #ee411a;
}

.cont .btn:hover {
  cursor: pointer;
}

.cont .btn:focus {
  outline: none;
}

.butt--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.user {
  color: #d5d0ce;
  margin-left: 2px;
  font-size: 14px;
  line-height: 15px;
}

.terminal_body {
  background: rgba(56, 4, 40, 0.9);
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_promt {
  display: flex;
}

.terminal_promt span {
  margin-left: 4px;
}

.terminal_user {
  color: #7eda28;
}

.terminal_location {
  color: #4878c0;
}

.terminal_bling {
  color: #dddddd;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
}

@keyframes curbl {
  
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
} 

/* Estilos generales para el editor nano */
.nano-editor {
  justify-content: center;  /* Centrar horizontalmente */
  align-items: center;  /* Centrar verticalmente */
  font-family: monospace;
  background-color: #300a24;
  color: #ffffff;
  width: 90%;
  max-width: 693px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nano-header {
  background-color: #333;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.nano-title {
  font-size: 0.9rem;
  text-align: center;  /* Asegurar que el texto esté centrado */
  width: 100%;  /* Asegura que ocupe el 100% del contenedor */
}

.nano-body {
  background-color: #300a24;
  border: 2px solid #4e4e4e;
  padding: 10px;
  position: relative;
}

.nano-status-bar {
  display: flex;
  justify-content: space-between;
  background-color: #4e4e4e;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 0.85rem;
  color: #ffffff;
}

.nano-content {
  background-color: #300a24;
  color: #ffffff;
  padding: 5px;
  white-space: pre-wrap;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  max-width: 100%;  /* El contenido ocupará todo el ancho disponible */
  text-align: left; /* Alineación del texto a la izquierda */
}

.nano-content p {
  margin: 0.5em 0;
  max-width: 100%; /* Permitimos que el contenido ocupe más espacio */
  margin-left: auto;
  margin-right: auto; /* Centramos el párrafo */
}
.nano-toolbar {
  background-color: #4e4e4e;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.85rem;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nano-toolbar span {
  margin-right: 10px;
  margin-bottom: 5px;
}



